 
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
	<title>About</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://github.com/mouse0270/bootstrap-notify" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %} "/>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript">
	    var user = '{{request.user}}'
		function getToken(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
    var csrftoken = getToken('csrftoken');
	</script>
</head>
<body class="animsition">
    <!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						<a  href="{% url 'chat:chat' request.user.username %}"     class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>
						 

						<a href="{%url 'accountSetting' %}" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a>
						<span class="hello-msg">Hello,{{request.user}}</span>
                        <span class="hello-msg"><a href="{%url 'logout' %}">logout</a></span>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="{% static 'images/icons/logo-01.png' %}" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="{% url 'home'  %}">Home</a>
								<ul class="sub-menu">
									<li><a href="{% url 'home'  %}">Homepage 1</a></li>
									<li><a href="{% url 'home2'  %}">Homepage 2</a></li>
									<li><a href="{% url 'home3'  %}">Homepage 3</a></li>
								</ul>
							</li>

							<li>
								<a href="{% url 'Product:product'  %}">Shop</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="{% url 'shopingCart' %}">Features</a>
							</li>

							<li class="active-menu">
								<a href="{% url 'blog'  %}">Blog</a>
							</li>

							<li>
								<a href="{% url 'about'  %}">About</a>
							</li>

							<li>
								<a href="{% url 'contact'  %}">Contact</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search search">
							<i class="zmdi zmdi-search"></i>
						</div>
						<div  input id="cartquantity" value="{{item.get_total_order}}"   class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"  >
							
							<i  class="zmdi zmdi-shopping-cart"></i>		
						</div>
					 
						<div   class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-favorite" value="{{sum}}">
							<i class="zmdi zmdi-favorite-outline"></i>
						</div>
					</div>
				</nav>
			</div>	
		</div>
		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 ">
					<img src="{% static 'images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" id="searchProduct"name="search" placeholder="Search...">

				</form>
			</div>
		</div>
	</header>
	{% include 'pages/cart.html'%}
	{% include 'pages/favorite.html'%}
	{% block content %}



	{% endblock %}
	
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns 
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	{% include 'pages/quickView.html'%}

</footer>
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %} "></script>
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %} "></script>
	<script src="{% static 'vendor/bootstrap/js/popper.js' %} "></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %} "></script>
	<script src="{% static 'vendor/select2/select2.min.js' %} "></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %} "></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %} "></script>
	<script src="{% static 'vendor/slick/slick.min.js' %} "></script>
	<script src="{% static 'js/slick-custom.js' %} "></script>
	<script src="{% static 'vendor/parallax100/parallax100.js' %} "></script>
	<script>
        $('.parallax100').parallax100();
	</script>
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %} "></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %} "></script>
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %} "></script>
	<script>
		 
		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				var size = document.getElementById("chooseSize").value;
				var color = document.getElementById("chooseColor").value;
				console.log('size:',size,'|color:',color)
				if(size == 'Choose an option' || color == 'Choose an option'){
					swal( "you don't choose size or color !");
				}else{
				swal(nameProduct, "is added to cart !", "success");
				}
			});
		});
		
	
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %} "></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
	<script> 
		var btn=document.getElementsByClassName("favorite")
		console.log(btn)
		var x2=0
		for(var i=0;i<btn.length;i++){
			productId = btn[i].dataset.product
			x1 = document.getElementsByClassName("favorite")[productId-1].value;
			console.log("i",i,":",x1,"ProductId:",productId)
			if(x1==1){
				try {
					document.getElementsByClassName("btn-addwish-b2 dis-block pos-relative js-addwish-b2 add-favorite")[productId-1-x2].className ="btn-addwish-b2 dis-block pos-relative js-addedwish-b2 add-favorite";
					x2++;
				}
				catch(err) {
				}
			}
		}
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");	
				console.log("name:",nameProduct)
				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
				
			});
		});
		$('.js-addedwish-b2').on('click', function(e){
			e.preventDefault();
		});
		$('.js-addedwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is remove to wishlist !", "success");	
				console.log("name:",nameProduct)
				$(this).addClass('js-addwish-b2');
				$(this).off('click');
				
			});
		});
    </script>
	 
	<script  type ="text/javascript" src="{% static 'js/main.js' %} "></script>
</body>
</html>