{%  extends 'pages/main.html' %}

{% block content %}{% load static%}
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'home'  %} " class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="{% url 'blog:blog'  %}  " class="stext-109 cl8 hov-cl1 trans-04">
				Blog
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{blogs.name}}
			</span>
		</div>
	</div>


	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!--  -->
						<div class="wrap-pic-w how-pos5-parent">
							<img src="{{blogs.imageURL}}" alt="IMG-BLOG">

							<div class="flex-col-c-m size-123 bg9 how-pos5">
								<span class="ltext-107 cl2 txt-center">
									{{blogs.day}}
								</span>

								<span class="stext-109 cl3 txt-center">
									{{blogs.month}}/{{blogs.year}}
								</span>
							</div>
						</div>

						<div class="p-t-32">
							<span class="flex-w flex-m stext-111 cl2 p-b-19">
								<span>
									<span class="cl4">By</span> Admin  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									{{blogs.data_ordered.day}} {{blogs.data_ordered.month}},{{blogs.data_ordered.year}}
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									{{blogs.tag}},{{blogs.categories}}, Couple  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span>
									8 Comments
								</span>
							</span>

							<h4 class="ltext-109 cl2 p-b-28">
								{{blogs.name}}
							</h4>

							<p class="stext-117 cl6 p-b-26">
								{{blogs.detail}}
							</p>

							<p class="stext-117 cl6 p-b-26">
								{{blogs.detail1}}
							</p>
						</div>

						<div class="flex-w flex-t p-t-16">
							<span class="size-216 stext-116 cl8 p-t-4">
								Tags
							</span>

							<div class="flex-w size-217">
								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									{{blogs.tag}}
								</a>
							</div>
						</div>

						<!--  -->
						{%  include 'blog/cmtBlog.html' %}
					</div>
				</div>

				{%  include 'blog/indexBlog.html' %}
			</div>
		</div>
	</section>	

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	{% endblock content %}