{% extends 'pages/main.html' %}

{% block content %}{% load static%}
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Blog
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-62 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					 
					<div class="p-r-45 p-r-0-lg">
						{% for blog in blogs%}
						<!-- item blog -->
						<div class="p-b-63">
							<a href="{% url 'blog:blog-detail' blog.id  %} " class="hov-img0 how-pos5-parent">
								<img src="{{blog.imageURL}}" alt="IMG-BLOG">

								<div class="flex-col-c-m size-123 bg9 how-pos5">
									<span class="ltext-107 cl2 txt-center">
										{{blog.data_ordered.day}}
									</span>

									<span class="stext-109 cl3 txt-center">
										{{blog.data_ordered.month}}/{{blog.data_ordered.year}}
									</span>
								</div>
							</a>

							<div class="p-t-32">
								<h4 class="p-b-15">
									<a href="{% url 'blog:blog-detail' blog.id  %} " class="ltext-108 cl2 hov-cl1 trans-04">
										{{blog.name}} 
									</a>
								</h4>

								<p class="stext-117 cl6">
									{{blog.detail}}
								</p>

								<div class="flex-w flex-sb-m p-t-18">
									<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
										<span>
											<span class="cl4">By</span> Admin  
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											{{blog.tag}},{{blog.categories}}
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											8 Comments
										</span>
									</span>

									<a href="{% url 'blog:blog-detail' blog.id  %} " class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
										Continue Reading

										<i class="fa fa-long-arrow-right m-l-9"></i>
									</a>
								</div>
							</div>
						</div>
						{% endfor%}
						<!-- Pagination -->
						<div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
							{% if blogs.has_previous %}
								<a href="?page=1"  class="flex-c-m how-pagination1 trans-04 m-all-7">1</a>
								<a href="?page={{ blogs.previous_page_number }}"  class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
									{{blogs.previous_page_number}}
								</a>
							{% endif %}
							{% if blogs.has_next %}
							<a  href="?page={{ blogs.next_page_number }}" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
								{{blogs.next_page_number}}
							</a>
							{% endif %}
							 
						</div>
					</div>
					 
				</div>

				{%  include 'blog/indexBlog.html' %}
			</div>
		</div>
	</section>	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	{% endblock content %}