{% load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
 
<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<link href="{% static 'css/cssChat.css' %}" rel="stylesheet">
<link href="{% static 'js/jsChat.js' %}" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script type="text/javascript">
    var user = '{{request.user}}'
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
var csrftoken = getToken('csrftoken');
</script>
<div class="contact-profile">
    <img src="{{room.customer.profile_pic.url}}" alt="" />
    <p>{{room.customer}}</p>
    <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
         <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
</div>
<div class="messages">
    <ul id="chat-log">
        {% for message in messages%}
            {% if message.author != request.user %}
                <li class="sent">
                    <img src="{{room.customer.profile_pic.url}}" alt="" />
                    <p>{{message.content}}</br>
                        <small>{{message.time}} ago</small>

                    </p> 
                </li>
            {% else %}
                <li class="replies">
                    <img src='{{request.user.customer.profile_pic.url}}' alt="" />
                    <p>{{message.content}} </br>
                        <small>{{message.time}} ago</small>
                      
                    </p>
                </li>
            {% endif %}	
        {% endfor %}
    </ul>
</div>
<div class="message-input">
    <div class="wrap">
    <input type="text" id="chat-message-input" placeholder="Write your message..." />
    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
    <buton id="chat-message-submit" class="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
</div>
<script src = "{% static 'js/reconnecting-websocket.js' %}"></script>
<script src = "{% static 'js/jsChat.js' %}"></script>

<script>
    var roomName ={{room_name_json}};
    var username ={{username}};
     
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
        
    );
     
    
    chatSocket.onmessage = function(e) {
        console.log(">")
        var data = JSON.parse(e.data);
        createMessage(data);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
         
        chatSocket.send(JSON.stringify({
			'roomName':roomName,
            'message': message,
            'form':username,
             
             
        }));
         
        messageInputDom.value = '';
    };  
     
</script>

<script>
    function createMessage(data){
        var author = data['author'];
        var msgListTag = document.createElement('li');
        var imgTag = document.createElement('img');
        var pTag = document.createElement('p');
        var pTag1 = document.createElement('p');
		console.log("111111:",data['message'],':',data['author'])
        var d = new Date();
        a=d.getHours()
        b=d.getMinutes()
        d=String(a)+":"+String(b);
        pTag.setAttribute('style', 'white-space: pre;');
        pTag.textContent = data['message']+"\r\n";
        pTag.textContent +=d;
       
        console.log("sas")
        imgTag.src='{{request.user.customer.profile_pic.url}}';
        if (author === username){
            msgListTag.className="replies";
        }
        else{
            msgListTag.className="sent"; 
        }
        msgListTag.appendChild(imgTag);
        msgListTag.appendChild(pTag);
        //msgListTag.appendChild(pTag1);
        document.querySelector('#chat-log').appendChild(msgListTag);
        x=1
        
        $.ajax({
                    type: "POST", 
                    url: '/listAjax/',
                    dataType: "html",
                    data:{'x':x},
                     
                    processData: false,
                    contentType: false,
                     
                    headers:{
                        'X-CSRFToken':csrftoken,
                    },
                    success: function (data) {  
                        console.log("ok baby")
                        $("#contacts").html(data)
                    }
                });
    }
</script>