{% load static%}
<!-- Product -->

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>
                {%  for stt ,i in type.items %}
                    <a><button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"></button></a> 
                    {{i}}
                </button>
                {% endfor %}
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                     Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
            
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <form action=""   id="search"     method="POST"enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="bor8 dis-flex p-l-15">
                        
                            
                            <a class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" onclick="submitFormSearch()"  type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </a>
                            <input name="name" maxlength="1000" id="id_name"id="inputDescription"class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                        
                    </div>
                </form>	          
            </div>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10 ">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27 ">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a onclick="myFunction('default')" class="filter-link stext-106 trans-04">
                                    Default
                                </a>
                            </li>
                            
                            <li class="p-b-6">
                                <a onclick="myFunction('popularity')" class="filter-link stext-106 trans-04">
                                    Popularity
                                </a>
                            </li>
                             
                            <li class="p-b-6">
                                <a onclick="myFunction('average_rating')" class="filter-link stext-106 trans-04">
                                    Average rating
                                </a>
                            </li>
<!--
                            <li class="p-b-6">
                                <a onclick="myFunction(3)" class="filter-link stext-106 trans-04 filter-link-active">
                                    Newness
                                </a>
                            </li>   -->

                            <li class="p-b-6">
                                <a onclick="myFunction('low_to_high')" class="filter-link stext-106 trans-04">
                                    Price: Low to High
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a onclick="myFunction('high_to_low')" class="filter-link stext-106 trans-04">
                                    Price: High to Low
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-col2 p-r-15 p-b-27  ">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>

                        <ul class ="filter-tope-group1">
                            <li class="p-b-6">
                                <button  class=" stext-106 trans-04 filter-link-active " data-filter="#">
                                    All
                                </button>
                            </li>

                            <li class="p-b-6"  >
                                <button    class="filter-link stext-106 trans-04" data-filter=".50">
                                    $0.00 - $50.00
                                </button>
                            </li>

                            <li class="p-b-6" data-filter=".100000">
                                <button    class="filter-link stext-106 trans-04" data-filter=".100">
                                    $50.00 - $100.00
                                </button>
                            </li>

                            <li class="p-b-6">	 
                                <button    class="filter-link stext-106 trans-04" data-filter=".150">
                                    $100.00 - $150.00
                                </button>
                            </li>

                            <li class="p-b-6">
                                <button    class="filter-link stext-106 trans-04" data-filter=".200">
                                    $150.00 - $200.00
                                </button>
                            </li>

                            <li class="p-b-6">
                                <button    class="filter-link stext-106 trans-04" data-filter=".300">
                                    $200+
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-col4 p-b-27 filter-tope-group1">
                        <div class="mtext-102 cl2 p-b-15">
                            Tags
                        </div>

                        <div class="flex-w p-t-4 m-r--5">
                            {%  for stt ,i in tag.items %}
                            <button   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5" data-filter=".{{i}}">
                                {{i}}
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row  isotope-grid sortBy">
            {%  include 'product/productAjax.html' %}
        </div>
        <!-- Load more -->
      
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
            
                    {% if products.has_previous %}
                    <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
            
                    {% if products.number > 5 %}
                    <li><a href="?page=1"><i>1</i></a></li>
                    {% endif %}
            
                    {% for i in products.paginator.page_range %}
                    {% if i > products.number|add:"-5" %}
                        {% if i < products.number|add:"5" %}
                            {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% endfor %}
            
                    {% if products.number < products.paginator.num_pages|add:"-5" %}
                    <li><a href="?page={{ products.paginator.num_pages }}"><i>{{ products.paginator.num_pages }}</i></a></li>
                    {% endif %}
            
                    {% if products.has_next %}
                    <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>

    </div>
</div>
<script  type ="text/javascript" src="{% static 'js/product.js' %} "></script>
