{%  extends 'admin/mainadmin.html' %}

{% block content %}
{% load static %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
  .tbody {
  height: 40px !important;
  overflow-y: scroll;	
}
   
.my-tbody {
  height:360px;
  display:block;
  overflow-y:scroll;
  width:100%;
}
</style>
	<br>

<div class="row">
	<div class="col-md4">
		<div class="card card-body">
			<h5>Customer:</h5>
			<div class="card" style="width: 18rem;">
                <img class="profile-pic"  src="{{customer.profile_pic.url}}" alt="Card image cap">
                <div class="card-body">
                    <table class="card-table table">
                        <tbody>
                          <tr>
                            <td>Name</td>
                            <td>{{customer.name}}</td>
                          </tr>
                          <tr>
                            <td>Phone</td>
                            <td>{{customer.phone}}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{customer.email}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
		</div>
	</div>


	<div class="col-md">
		<div class="card card-body">
            <h1 style="text-align: center;padding: 10px"><h5>Bought:{{total}}</h5></h1>
            <table class="table table-dark my-tbody">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date of purchase</th>
                    <th scope="col">Discount</th>
                  </tr>
                </thead>
                {% for i in item %}
                    <tbody>
                    <tr>
                        <td>{{i.product.name}}</td>
                        <td>{{i.product.price}}</td>
                        <td>{{i.size}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.date_complete}}</td>
                        <td>{%widthratio i.discount 1 100 %}%</td>
                    </tr>
                   
                    </tbody>
                {% endfor %}
              </table>
		</div>

	</div>
</div>
<div>
  <h4>Number of logins{{times}}
      </br>
      Used time {{total_time}}
      </br>
      The average time  {{averageTime}}
  </h4>

</div>
{% endblock %}