{%  extends 'admin/mainadmin.html' %}

{% block content %}

{%  include 'admin/status.html' %}

<br>
<div class="container">
		 
	 
</div>
<div class="row">
	<div class="col-md-12">
		<h5>BOUGHT</h5>
		<hr>
		<form method="get">
			{{myFilter.form}}
			<button class="btn btn-primary" type="submit">Search</button>
		</form>
		<div class="card card-body">
			<h4>{{total}}</h4>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>quantity</th>
					<th>Price</th>
					<th>Size</th>
					<th>Color</th>
					<th>Date Create</th>
					<th>Discount</th>
					<th>Tag</th>
				</tr>
		        {% for item in data %}
				<tr>
					<th>{{item.product.name}}</th>
					<th>{{item.quantity}}</th>
					<th>{{item.product.price}}</th>
					<th>{{item.size}}</th>
					<th>{{item.color}}</th>
					<th>{{item.date_complete}}</th>
					<th>{{item.discount}}</th>
					<th>{{item.product.tag}}</th>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}