<!-- Main content -->
{% load static %}
<link rel="stylesheet"  type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<link rel="stylesheet"  type="text/css" href="{% static 'plugins/fontawesome-free/css/all.min.css'%} ">

<link rel="stylesheet"   type="text/css" href="{% static 'dist/css/adminlte.min.css'%}">
<div class="content-wrapper">
<section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Updata</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <form action="" method="POST"enctype="multipart/form-data">
              {% csrf_token %}
              {{ form1.as_ul }}
              <input type="submit" value="Submit" >
           </form>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
 